:root{
  box-sizing: border-box;
  text-align: center;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.grid{
  width: 350px;
  height: 350px;
  /* background-color: red; */
  display: block;
  margin:10px;
  /* border:1px solid black; */
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0;
}
.cell{
  width: 32px;
  height: 32px;
  border:1.5px solid black;
  display: inline-block;
  margin:0;
  padding: 0;
  transition: 0.2s ease-in-out;
}
.highlight{
  background-color: aquamarine;
}
.none{
  display: none;
}
.placed{
  background-color: lightskyblue;
}
.pending{
  background-color: lightcoral;
}
.hit{
  background-color: red;
}
.missed{
  background-color: yellow;
}